<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>85677281157-98ii7gvr36bq91qmrp8s4uslrvqo4uhh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.85677281157-98ii7gvr36bq91qmrp8s4uslrvqo4uhh</string>
	<key>API_KEY</key>
	<string>AIzaSyDDtrg7ziU9otxweOr6gou-fJZBbJK2deM</string>
	<key>GCM_SENDER_ID</key>
	<string>85677281157</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.BookAr</string>
	<key>PROJECT_ID</key>
	<string>bookar-7798d</string>
	<key>STORAGE_BUCKET</key>
	<string>bookar-7798d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:85677281157:ios:ff92ae7ebedab5412f3eec</string>
</dict>
</plist>